@model ProjectOne.ViewModels.SignupViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
    <div class="section group">
    <article class="col span_1_of_2">
    <h1>Welcome!!</h1>
        <p>Improve your prayer compliance in 3 easy steps.</p>
        <ol>
        <li>Log - Enter your prayers daily in under 3 minutes.</li>
        <li>Review - Check your prayer habits.</li>
        <li>Makeup - Find out your missed prayers.</li>
        </ol>
    </article>
    <article class="col span_1_of_2">
        <h1>Interested signup in a minute.</h1>
@using ( Html.BeginForm("Signup","Account"))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()
@Html.HiddenFor(m=>m.TimezoneOffset,new { Id="TimezoneOffset"})
   <fieldset>
        <legend>Register a new account.</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m=>m.Username , new {placeholder="Enter user name" ,required=""})
            </li>
            <li>
                @Html.LabelFor(m=>m.Password)
                @Html.PasswordFor(m=>m.Password, new {placeholder="Enter password",required="" })
            </li>
            <li>
                @Html.LabelFor(m=>m.ConfirmPassword)
                @Html.PasswordFor(m=>m.ConfirmPassword,new {placeholder="Confirm password",required="" })
            </li>
            <li>
                @Html.LabelFor(m=>m.Email)
                @Html.TextBoxFor(m=>m.Email , new {placeholder="We wont spam your mail",required="",type="email" })
            <br />
            <input type="submit" value="Signup" />
            </li>
        </ol>
    </fieldset>
}
    </article>
</div>
<div class="section group">
<blockquote class="col span_4_of_5">
    "The first matter a slave will be brought to account is the prayer. If it is sound, then the rest of his deeds will be sound. And if it is bad, then the rest of his deeds will be bad."
    <cite>-Tabrani</cite>
</blockquote>
</div>
</section>
<script>
document.body.onload = function (){
    document.getElementById("TimezoneOffset").value = new Date().getTimezoneOffset();
}
</script>
