@model ProjectOne.ViewModels.SignupViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
    <div class="section group">
    <blockquote class="col span_4_of_5">
        "We believe every muslim wants to complete 5 salah everyday and be victorious on the judgment day. Ibleez wants you to forget, lets help you remember."
    <cite>- mysalah.in</cite>
    </blockquote>
    </div>
    <div class="section group">
    <article class="col span_1_of_2">
    <h1>Improve your prayer compliance in 3 easy steps </h1>
        <p><span aria-hidden="true" class="icons icon-pencil" style="font-size:x-large">&nbsp;</span>Log your prayers daily in under 3 minutes.</p>
        <p><span aria-hidden="true" class="icons icon-bars"  style="font-size:x-large">&nbsp;</span>Review our prayer habits.</p>
        <p><span aria-hidden="true" class="icons icon-history"  style="font-size:x-large">&nbsp;</span>Makeup your missed prayers.</p>
        <p style="margin-top:50px;font-size:x-large;">@Html.ActionLink("TRY NOW","ShowDemo","Account")</p>
    </article>
    <article class="col span_1_of_2">
        <h1>Interested signup in a minute.</h1>
@using ( Html.BeginForm("Signup","Account"))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()
@Html.HiddenFor(m=>m.TimezoneOffset,new { Id="TimezoneOffset"})
   <fieldset>
        <legend>Register a new account.</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m=>m.Username , new {placeholder="Enter user name" ,required="",autocomplete="off"})
            </li>
            <li>
                @Html.LabelFor(m=>m.Password)
                @Html.PasswordFor(m=>m.Password, new {placeholder="Enter password",required="",autocomplete="off" })
            </li>
            <li>
                @Html.LabelFor(m=>m.ConfirmPassword)
                @Html.PasswordFor(m=>m.ConfirmPassword,new {placeholder="Confirm password",required="",autocomplete="off" })
            </li>
            <li>
                @Html.LabelFor(m=>m.Email)
                @Html.TextBoxFor(m=>m.Email , new {placeholder="We wont spam your mail",required="",type="email" })
            </li>
            <li>
            <br /><input type="submit" value="I Agree - Create My Account" />
            <br />@Html.ActionLink("Terms and conditions","TermsOfUse","Home")
            </li>
        </ol>
    </fieldset>
}
    </article>
</div>
</section>
<script>
document.body.onload = function (){
    document.getElementById("TimezoneOffset").value = new Date().getTimezoneOffset();
}
</script>
