@using ProjectOne.ViewModels
@model ProjectOne.ViewModels.MakeupViewModel
@{
    ViewBag.Title = "Makeup Prayers";
}
<section>
<h1>Makeup missed prayers</h1>
@if(Model.SalahDate.Count==0)
{ 
<div class="section group">
<blockquote class="col span_4_of_5">
    "Masha ALLAH!! You have completed all your prayers as on today. God bless you."
    <cite>-MySalah.in</cite>
</blockquote>
</div>
}
@if( Model.SalahDate.Count!=0)
{
<div  class="section group">
<div class="col span_3_of_3">
@using(var f = Html.BeginForm("Save","Makeup"))
{
<input type="submit" value="Save Changes" class="small"/>
<input type="reset" value="Undo Changes" class="small"/>
<table> 
<thead>
<tr>
<th colspan="7">
</th>
</tr>
<tr>
<th style="width:2%;"></th>
<th style="width:10%;"></th>
@for (int i = 0; i < 5; i++) 
{
    <th><span aria-hidden="true" class="icons icon-@Common.Waqt[i].ToLower()"> </span>@Common.Waqt[i].Substring(0,2)<span class="moredata">@Common.Waqt[i].Substring(2)</span></th>
}
</tr>
</thead>
<tbody>
@for (int i = 0; i< Model.SalahDate.Count ; i++) 
{
    var heading = Model.SalahDate[i].Day + " " + Common.Month[Model.SalahDate[i].Month - 1]+" "+ Model.SalahDate[i].Year;
    var trid = "tr" + i % 2;
    <tr class='@trid'>
        <th  style='text-align:left;'>@Common.Weekdays[(int)Model.SalahDate[i].DayOfWeek][0]<span class="moredata">@Common.Weekdays[(int)Model.SalahDate[i].DayOfWeek].Substring(1)</span></th><th style='text-align:left;'><small>@heading</small>
        @Html.HiddenFor(o => o.SalahDate[i])
        </th>

        @for (int j = 0; j < 5; j++) 
        {
            <td>
                    @Html.CheckBoxFor(o => o.SalahStatus[i * 5 + j])
            </td>
        }
        </tr>
}
</tbody>
</table>
}
</div>
</div>
}
</section>
