@using ProjectOne.ViewModels
@model ProjectOne.ViewModels.LogViewModel
@{
    ViewBag.Title = "Log Prayers";
	var today = Model.StartDate;
    var prev  = Model.StartDate.AddDays(-7.0);
    var next  = Model.EndDate.AddDays(1.0);
}
<script>
    function checkAll(st,en)
    {
        for(var i=st;i< en;i++)
        {
            var input = document.getElementById("SalahStatus_"+i+"_");
            input.checked = true;
        }
    }
</script>
<section>
<h1>Enter the completed prayers</h1>
<div  class="section group">
<div class="col span_3_of_3">
@using(var f = Html.BeginForm("Save","Log"))
{
    @Html.HiddenFor(o=>o.StartDate)
    @Html.HiddenFor(o=>o.EndDate)
<input type="reset" value="Undo Changes" class="small"/>
<input type="submit" value="Save Changes" class="small"/>
<table> 
<thead>
<tr>
<th colspan="7">
@Html.ActionLink("<", "Index", new { year = prev.Year, month = prev.Month, day = prev.Day }, new {Class="wb"})
<a href="javascript:checkAll(0,35)">
@Common.Month[Model.StartDate.Month-1]
@Model.StartDate.Year
</a>
@Html.ActionLink(">", "Index", new { year = next.Year, month = next.Month, day = next.Day },new {Class="wb"})
</th>
</tr>
<tr>
<th style="width:2%;"></th>
<th style="width:7%;"></th>
@for (int i = 0; i < 5; i++) 
{
    <th><span aria-hidden="true" class="icons icon-@Common.Waqt[i].ToLower()"> </span>@Common.Waqt[i].Substring(0,2)<span class="moredata">@Common.Waqt[i].Substring(2)</span></th>
}
</tr>
</thead>
<tbody>
@for (int i = 0; i < 7; i++) 
{
    var heading = today.Day + " " + Common.Month[today.Month - 1];
    var trid = "tr" + i % 2;
    <tr class='@trid'><th  style='text-align:left;'><a href="javascript:checkAll(@i*5,@i*5+5)">@Common.Weekdays[(int)today.DayOfWeek][0]<span class="moredata">@Common.Weekdays[(int)today.DayOfWeek].Substring(1)</span></a></th><th style='text-align:left;'><small>@heading</small></th>
        @for (int j = 0; j < 5; j++) 
        {
            <td>@Html.CheckBoxFor(o=>o.SalahStatus[i*5+j])</td>
        }
        @{today = today.AddDays(1.0);}
        </tr>
}
</tbody>
</table>
}
</div>
</div>
</section>
