@using ProjectOne.ViewModels
@model ProjectOne.ViewModels.ReviewViewModel
@{
    int StartDay = (int) new DateTime(Model.Year,Model.Month,1).DayOfWeek;
    ViewBag.Title = "Review "+Common.Month[Model.Month-1]+" "+Model.Year;
    int Max = Model.ItemCount.Length;
    int Total = Max * 5;
    int Completed = Model.PrayerCount.Sum();
    int Pending = Total - Completed;
}
<section>
<h1 class="floatleft">Prayer Profile</h1>
<div  class="section group">
<p class="col span_1_of_5"> 
 <span aria-hidden="true" class="icons icon-checkbox-checked"> </span><span class="stats">@Completed</span>&nbsp;Done   
</p>
<p class="col span_1_of_5"> 
 <span aria-hidden="true" class="icons icon-checkbox-unchecked"> </span><span class="stats">@Pending</span>&nbsp;Todo
</p>
</div>
<div  class="section group">
<article class="col span_3_of_3">
<h1 class="floatleft">
@Html.ActionLink("<", "Month", new {year = (Model.Month!=1)?Model.Year:Model.Year-1, month=(Model.Month!=1)?Model.Month-1:12 }, new {Class="wb"}) 
@Common.Month[Model.Month-1] @Model.Year 
@Html.ActionLink(">","Month",new {year=(Model.Month!=12)?Model.Year:Model.Year+1, month=(Model.Month!=12)?Model.Month+1:1} ,new {Class="wb"}) 
</h1>
<nav class="floatright">
    <h1 class="visuallyhidden">Statistics time frame menu</h1>
    <ul>
        <li><span aria-hidden="true" class="icons icon-calendar"> </span>@Html.ActionLink("MONTH", "Month", new {year = DateTime.Now.Year, month=DateTime.Now.Month })</li>
        <li><span aria-hidden="true" class="icons icon-calendar-2"> </span>@Html.ActionLink("YEAR", "Year", new {year = DateTime.Now.Year})</li>
    </ul>
</nav>
<table class="reviewtable">
<tbody>
<tr>
@for(int i=0;i<Max;i++)
{
            <td style="width:@((100.0/Max)+"%");" class="vprogressbarbg">
                @if(Model.ItemPercentage[i]==0.0f)
                {
                    <div class="vprogressbar" style="height:100%;background-color:whitesmoke;">&nbsp;</div>
                }
                else
                {
                    <small class="moredata">@String.Format("{0:f0}",Model.ItemPercentage[i]/0.2f)</small>
                    <div class="vprogressbar" style="height:@((Model.ItemPercentage[i] * 100.0f) + "%");">&nbsp;</div>
                }
            </td>
}
        </tr>
        <tr class="desktopaxis">
@for (int i = 0; i < Max; i++)
{
            <td>
                <small>
                @Common.Weekdays[(i + StartDay) % 7][0]<br/>
                @Html.ActionLink((i + 1).ToString(), "Index", "Log", new { year = Model.Year, month = Model.Month, day = i + 1 }, null)
                </small>
            </td>
}
        </tr>
        <tr  class="mobileaxis">
@for (int i = 0; i < Max; i++)
{
    if ((i + 1) % 5 == 0)
    {
            <td colspan="5" style="text-align:right;">
                <small>@Html.ActionLink((i + 1).ToString(), "Index", "Log", new { year = Model.Year, month = Model.Month, day = i + 1 }, null)</small>
            </td>
    }
}
        </tr>
    </tbody>
    </table>
</article>
</div>
</section>
<section>
<h1>Prayer Habits</h1>
<div class="section group">
@for (int i = 0; i < 5; i++)
{
<article class="col span_1_of_5">
    <h1 id="legend@(i)"><span aria-hidden="true" class="icons icon-@Common.Waqt[i].ToLower()"></span>@Common.Waqt[i].Substring(0,2)<span class="moredata">@Common.Waqt[i].Substring(2)</span>&nbsp;<small>(@Model.PrayerCount[i]/@Max)</small></h1>
    <canvas id="c@(i)" class="progresscircle"></canvas>
    <div id="p@(i)" class="progressbarbg"><div class="progressbar" style="width:@(Model.PrayerPercent[i] * 100.0f)%;">@String.Format("{0:f0}%", Model.PrayerPercent[i] * 100.0f)</div></div>
 </article>
}
</div>
</section>
<script src="~/scripts/ReviewPage.js"></script>
<script>
    document.body.onload = function () {
   @for (int i = 0; i < 5; i++)
   {
        @:paintProgress(@i, @Model.PrayerPercent[i], "@String.Format("{0:p0}", Model.PrayerPercent[i])");
   }
   }
</script>
