<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Arvo|Roboto+Condensed|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Responsive.css" />
<!--[if lt IE 9]>
	<script src="~/scripts/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
<header>
<h1 class="floatleft">MySalah.com</h1>
</header>
<nav class="floatright" >
<ul>
<li><span aria-hidden="true" class="icons icon-home"> </span>@Html.ActionLink("HOME","Index","Home")</li>
<li><span aria-hidden="true" class="icons icon-key-stroke "> </span>@Html.ActionLink("LOGIN","Login","Account")</li>
</ul>
</nav>
<div class="section group">
<hr/>
</div>
        @RenderBody()
<hr/>
<footer>
&#169; @DateTime.Now.Year | Contact us | Terms of use| Privacy Policy|@Html.ActionLink("About","Index","Log")
</footer>
</div>
</body>
</html>
