@using ProjectOne.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Oswald' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
<!--[if lt IE 9]>
	<script src="~/scripts/html5shiv.js"></script>
<![endif]-->
    @Scripts.Render("~/Content/scripts")
</head>
<body>
<div class="container">
<header>
<h1 class="floatleft">MYSALAH</h1>
</header>
<nav class="floatright" >
<ul>
<li><span aria-hidden="true" class="icons icon-home"> </span>@Html.ActionLink("HOME","Index","Home")</li>
<li><span aria-hidden="true" class="icons icon-key-stroke "> </span>@Html.ActionLink("SIGN IN","Login","Account")</li>
</ul>
</nav>
<div class="section group">
<hr/>
</div>
        @RenderBody()
<hr/>
<footer>
&#169; @DateTime.Now.Year | @Html.ContactLink("Contact Us") | @Html.ActionLink("Terms of use","TermsOfUse","Home")|@Html.ActionLink("Privacy Policy","PrivacyPolicy","Home")| @Html.ActionLink("About","About","Home")
</footer>
</div>
</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45123550-1', 'mysalah.in');
  ga('send', 'pageview');

</script>
