@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
<h1>Forgot Password</h1>
@if(@ViewBag.MailSent)
{
    <p>@ViewBag.Message</p>
}
else
{
    using ( Html.BeginForm())
    {
        
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
    <legend>Enter password recovery information below.</legend>
    <ol>
                <li>
                    @Html.Label("Username")
                    @Html.TextBox("Username","", new { placeholder="Enter your username" ,required="",autocomplete="off"})
                </li>
                <li>
                    <input type="submit" value="Send password recovery mail" />
                </li>
    </ol>
    </fieldset>
    }
}
</section>
