@model ProjectOne.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
<h1>Forgot Password</h1>
@using ( Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()
@Html.HiddenFor(m=>m.Token)
<p>@ViewBag.Message</p>
<fieldset>
<legend>Enter password recovery information below.</legend>
<ol>
            <li>
                @Html.LabelFor(m=>m.NewPassword)
                @Html.PasswordFor(m=>m.NewPassword, new {placeholder="Enter new password",required="",autocomplete="off"})
            </li>
            <li>
                <input type="submit" value="Reset password" />
            </li>
</ol>
</fieldset>
}
</section>
