@model ProjectOne.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
    var aTimeZones = TimeZoneInfo.GetSystemTimeZones();
    var aSelectionList = from a in aTimeZones select new SelectListItem { Text = a.DisplayName, Value = a.Id, Selected = (a.Id == Model.Timezone) };
}
<section>
<h1>Edit Profile</h1>
<p>You can change your profile data here. Edit only those values that you want to change.</p>

@using ( Html.BeginForm("UserProfile","Account"))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()
<fieldset>
<legend>Edit Profile Data.</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m=>m.OldPassword , new {placeholder="Enter current password",autocomplete="off" })
            </li>
            <li>
                @Html.LabelFor(m=>m.NewPassword)
                @Html.PasswordFor(m=>m.NewPassword, new {placeholder="Enter new password",autocomplete="off" })
            </li>
            <li>
                @Html.LabelFor(m=>m.ConfirmPassword)
                @Html.PasswordFor(m=>m.ConfirmPassword,new {placeholder="Retype new password",autocomplete="off" })
            </li>
            <li>
                @Html.LabelFor(m=>m.Email)
                @Html.TextBoxFor(m=>m.Email , new {type="email",autocomplete="off"  })
            </li>
            <li>
                @Html.LabelFor(m=>m.Timezone)
                @Html.DropDownListFor(m => m.Timezone, aSelectionList)
            <br />
            <input type="submit" value="Save" />
            </li>
        </ol>
</fieldset>
}
</section>
